@font-face {
  font-family: 'National-Book';
  src: url('http://furmancenter.org/assets/webfonts/national/NationalWeb-Book.eot');
  src: url('http://furmancenter.org/assets/webfonts/national/NationalWeb-Book.eot?#iefix') format('embedded-opentype'), url('http://furmancenter.org/assets/webfonts/national/NationalWeb-Book.woff') format('woff');
  src: url('../webfonts/national/NationalWeb-Book.eot');
}

@font-face {
  font-family: 'National-Medium';
  src: url('http://furmancenter.org/assets/webfonts/national/NationalWeb-Medium.eot');
  src: url('http://furmancenter.org/assets/webfonts/national/NationalWeb-Medium.eot?#iefix') format('embedded-opentype'), url('http://furmancenter.org/assets/webfonts/national/NationalWeb-Medium.woff') format('woff');
  src: url('../webfonts/national/NationalWeb-Medium.eot');
}

@font-face {
  font-family: "SSSocialRegular";
  src: url('http://furmancenter.org/assets/webfonts/symbolset/ss-social-regular.eot');
  src: url('http://furmancenter.org/assets/webfonts/symbolset/ss-social-regular.eot?#iefix') format('embedded-opentype'), url('http://furmancenter.org/assets/webfonts/symbolset/ss-social-regular.woff') format('woff'), url('http://furmancenter.org/assets/webfonts/symbolset/ss-social-regular.ttf') format('truetype'), url('http://furmancenter.org/assets/webfonts/symbolset/ss-social-regular.svg#SSSocialRegular') format('svg');
  src: url('../webfonts/symbolset/ss-social-regular.eot');
  font-weight: normal;
  font-style: normal
}
